.App .Content {
    /* margin-top: 9rem; */
    padding: 9rem 2px 2px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.App .Content .Article {
    border: 1px solid white;
    margin: 2px;
    width: 49%;
    overflow: hidden;
}

.App .Content .Article h3 {
    color: rgb(226, 19, 130);
}

.App .Content .Article .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(99, 10, 57);
}

.App .Content .Article .header a {
    color: cornflowerblue;
}

.App .Content .Article .body {
    /* text-align: justify; */
    /* border: 1px solid red; */
}

.App .Content .Article .body p {
    text-align: justify;
    font-size: 0.9rem;
    margin-right: 1rem;
}

.App .Content .Article .body img {
    max-width: 200px;
    float: left;
    margin: 1rem;
}
