.App .App-header form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.App .App-header form div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.App .App-header form div input,
select {
    width: calc(80vw / 4);
}

.App .App-header form div label {
    /* border: 1px solid red; */
    text-transform: capitalize;
    text-align: left;
}

.App .App-header form div .error {
    color: red;
    margin-top: -3px;
}

.App .App-header form button {
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    padding: 0 2rem;
    height: 2.5rem;
}

@media only screen and (max-width: 960px) {
    .App .App-header form {
        flex-direction: column;
    }

    .App .App-header form div input,
    select {
        width: 95%;
    }

    .App .App-header form div {
        align-items: center;
    }

    .App .App-header form button {
        margin: 0.5rem;
    }

    .App .App-header form div .error {
        font-size: 0.8rem;
    }
}
